div.userDiv {
  width: 100%;
  padding: 9px 0;
  color: #878A8C;
  font-size: 14px;
  display: flex;
  justify-content: flex-start;
}

div.userIcon {
  margin-right: 9px;
  width: 20px;
  height: 20px;
  border-radius: 50px;
  background-color: #c784ff;
  display: flex;
  color: white;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  justify-content: center;
  align-content:center ;
  align-items: center;
}

.commentContent {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.commentDetails {
  display: flex;
  flex-flow: column wrap;
  flex-grow: 1;
  max-width: 97%;
}

.commentDetails p {
  word-wrap: break-word;
  padding: 5px;
  max-width: 100%;
  max-height: 200px;
  overflow-y: auto;
}

.commentFooter {
  display: flex;
  justify-content: flex-end;
  color: #878A8C;
  font-size: 14px;
}

div.verticalLine svg {
  height: 100%;
}