.post {
  margin-top: 15px;
  background-color: white;  
  padding: 15px 20px;
  border-radius: 15px;
  box-shadow: 0px 3px 6px 1px #b1b1b1;
}

.postDetails {
  width: 100%;
  color: #898989;
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.postContent {
  width: 100%;
  padding: 20px 28px;
  display: flex;
  flex-flow: column wrap;
}

h3 {
  font-size: 18px;
  line-height: 23px;
  color: #222222;
  font-weight: 600;
}

.postMedia {  
  width: 100%;
  margin-top: 15px;
  display: flex;
  justify-content: center;
  background-color: #cecece;
}
.postMedia img, .postMedia video {
  max-width: 100%;
  max-height: 400px;
}


.comments, .iconComment {
  display: flex;
}

.comments p {
  font-weight: 600;
}

.iconComment {  
  height: 100%;
  margin-right: 7px;  
}

.iconComment img {
  width: 13px;
}

@media only screen and (max-width: 768px) {
  .postContent {
    padding: 20px 1%;
  }
}